* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #3D3D3D;
    margin: 2rem 3.5rem 2rem 3.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #787878;
    border-radius: 2.5rem; 
    padding: 0.87rem 5rem 0.87rem 5rem;
    margin-block-end: 2.5rem;
}

.toolbar-icons {
    display: flex;
    gap: 1.25rem;
}

.action-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.action-button:last-child, .toolbar-icons:nth-child(3) {
    margin-inline-end: 3.75rem;
}

.icon-position {
    position: absolute;
    transform: translate3d(-2.25rem,0,0);
    cursor: pointer;
}

input[type=radio] {
    width: 2.2rem;
    height: 2.2rem;
    opacity: 0;
}

input[type=radio]:checked + svg.icon-position path.shapefill {
    fill:#3D3D3D;
}

input[type=radio]:checked + svg.icon-position path.shapestroke {
    stroke:#3D3D3D;
}

input[type=color] {
    width: 2.3rem;
    height: 3rem;
    opacity: 0;
    cursor: pointer;
}

.color-palette {
    position: absolute;
    transform: translate3d(0,0.5rem,0);
}

canvas {
    background-color: #FFF;
    height: 80vh;
    width: 100%;
}

.selection-menu {
    display: none;
    position: absolute;
    border-radius: 1.75rem;
    background: #787878; 
    padding: 0.5rem 2rem 0.5rem 2rem;
    list-style: none;
    transform: translate3d(1.5rem,4.3rem,0);
}

.strokesize {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 1rem;
    font-family: Roboto;
}

.spacing {
    margin-block-end: 0.5rem;
}
