
.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.digital-clock{
    display: flex;
    align-items: center;
    justify-content: center;
}

.digital-clock span{
    font-size: 5.5rem;
    text-shadow: -4px -4px 10px rgba(67, 67, 67, 0.651);
    letter-spacing: 0.3rem;
}


@media (min-width: 700px) {

    .digital-clock span{
        font-size: 10rem;
    }

}

@media (min-width: 1500px) {

    .digital-clock span{
        font-size: 15rem;
    }
}